/* CSS Document */
@import url("https://use.typekit.net/yev2nzv.css");

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

body {
    background-color: rgb(245, 245, 235);
}

img {
    width: 100%;
    display: block;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

a {
    text-decoration: none;
}

div.container,
div.home-container {
    max-width: 40em;
    margin: auto;
}

/* Header */
header {
    padding: 2rem 1rem;
}

h1 {
    max-width: 15em;
    margin-bottom: 2rem;
}


/* Navigation */
nav li {
    list-style-type: none;
    margin-top: 0.5rem;
}


nav a {
    font-family: soleil, sans-serif;
    font-weight: bold;
    color: rgb(35, 45, 35);
}

nav a:hover {
    border-bottom: solid 2px rgb(220, 150, 45);

}

/* Type */

h2 {
    font-family: lust-text, serif;
    font-weight: 500;
    color: rgb(35, 45, 35);
    line-height: 1.1em;
    margin-top: 0.25rem;
    font-size: 1.5em;
    padding-bottom: 0.25em;
}

p {
    font-family: soleil, sans-serif;
}

figcaption,
h2,
p {
    margin-left: 1rem;
    margin-right: 1rem;
}

figcaption {
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
    font-style: italic;
    font-weight: 300;
    font-family: soleil, sans-serif;
    color: rgb(65, 60, 55);
}

section p,
article p {
    margin-bottom: 1.5em;
    line-height: 1.4em;
}

section a {
    color: rgb(0, 0, 0);
}

/* Story Teasers and Articles */
.main-story-teaser h2,
article h2 {
    font-size: 2.5em;
}

.main-story-teaser h2,
.secondary-story-teaser h2 {
    margin-top: 0.25em;
    margin-bottom: 0.125em;
}

article h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.secondary-story-teaser h2 {
    font-size: 2em;
}

aside .secondary-story-teaser h2 {
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

.tertiary-story-teaser h2 {
    font-size: 1.25em;
    border-top: solid 1px rgb(65, 60, 55);
    padding-top: 0.5rem;
}

aside {
    background-color: rgb(205, 200, 185);
    padding: 1rem;
}

aside figcaption,
aside h2,
aside p {
    margin-left: 0;
    margin-right: 0;
}

#gallery {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(61.25% + 5em);
}

#gallery figure {
    margin: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

#gallery-main input:nth-of-type(1):checked~#gallery figure:nth-of-type(1),
#gallery-main input:nth-of-type(2):checked~#gallery figure:nth-of-type(2),
#gallery-main input:nth-of-type(3):checked~#gallery figure:nth-of-type(3),
#gallery-main input:nth-of-type(4):checked~#gallery figure:nth-of-type(4),
#gallery-main input:nth-of-type(5):checked~#gallery figure:nth-of-type(5),
#gallery-main input:nth-of-type(6):checked~#gallery figure:nth-of-type(6),
#gallery-main input:nth-of-type(7):checked~#gallery figure:nth-of-type(7),
#gallery-main input:nth-of-type(8):checked~#gallery figure:nth-of-type(8) {
    opacity: 1;
}

#gallery-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
    margin-bottom: 2rem;
}

#gallery-main input {
    display: none;
}

#newsletter-image {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 2rem 1rem;
    font-family: soleil, sans-serif;
    color: rgb(35, 45, 35);
}

form label,
form legend {
    margin-bottom: 0.125rem;
    width: max-content;
}

form input,
form select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgb(35, 45, 35);
    font-family: inherit;
    color: inherit;
}

form input:focus,
form select:focus {
    border: 2px solid rgb(220, 150, 45);
}

form fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

form button {
    display: inline-block;
    width: max-content;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    background-color: rgb(35, 45, 35);
    color: rgb(245, 245, 235);
    font-size: 1rem;
    border: none;
    font-family: soleil, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
}

footer {
    padding: 1rem 0.5rem;
    background-color: rgb(65, 60, 55);
    color: rgb(205, 200, 185);
}

@media (min-width: 40em) {

    /* removes edge padding set for mobile */
    /* makes nav links inline blocks */

    header {
        padding: 2rem 0;
    }

    nav li {
        display: inline-block;
        margin-right: 1rem;
    }

    figcaption,
    h2,
    p {
        margin-left: 0;
        margin-right: 0;
    }

    form {
        padding: 0 0 2rem 0;
        max-width: 35rem;    
    }
}


@media (min-width: 60em) {

    div.home-container,
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding: 0 1em;
        grid-gap: 1em;
    }

    div.home-container {
        max-width: 80em;
    }

    div.container {
        max-width: 60em;
    }

    header,
    footer {
        grid-column: 1/3;
    }

    div.home-container main {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
    }

    div.home-container aside,
    div.container aside {
        margin-top: 0;
    }

    section.main-story-teaser {
        display: grid;
    }

    section.main-story-teaser {
        grid-column: 2/4;
        grid-row: 1/3;
    }

    section.main-story-teaser a {
        display: flex;
        flex-direction: column;
        flex: 1 0;
    }

    section.main-story-teaser figure {
        display: flex;
        flex: 1 0 12em;
    }

    section.main-story-teaser figure img,
    section.secondary-story-teaser figure img {
        object-fit: cover;
    }

    section.main-story-teaser figure h2 {
        flex: 1 0 1em;
    }

    section.main-story-teaser figure p {
        flex: 1 0 4em;
    }

    .tertiary-story-teaser h2 {
        border-top: solid 1px rgb(220, 150, 45);
    }

}