/*CSS DOCUMENT*/
/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(221, 221, 221);
}

div.container {
    max-width: 75em;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(255, 136, 0);
    padding: 3em 1.5rem 1.5em;
}

img {
    width: 100%;
    /*Please leave this line.*/
    display: block;
}

h1,
h2,
h3 {
    font-family: Sutro, serif;
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin-bottom: 0.25em;
}

h2 {
    font-weight: 300;
    font-size: 1.5em;
    color: rgb(255, 221, 187);
}

figure {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 3em;
}

img {
    grid-column: 1/2;
}

figcaption {
    font-style: italic;
    margin: 2.5rem 1.5rem 0 0;
    grid-column: 2/3;
}

main {
    padding: 0 3rem;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
}

section.ingredients {
    grid-column: 1/2;
    border-top: solid 2px rgb(255, 136, 0);
}

section.directions {
    grid-column: 2/3;
    border-top: solid 2px rgb(255, 136, 0);

}

h3 {
    font-weight: 300;
    font-size: 1.25em;
    color: rgb(255, 136, 0);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0.75em 0;
}

ul,
ol {
    margin-bottom: 3em;
}

li {
    margin-bottom: 1.25em;
}

footer {
    color: rgb(238, 238, 238);
    background-color: rgb(255, 136, 0);
    padding: 1em 1.5rem;
}